# **Advance Python**

#Revision

In [3]:
for i in range(10):
  if i == 5:
    break
  print(i,end=" ")

print("outside of the  loop")

0 1 2 3 4 outside of the  loop

In [4]:
for i in range(10):
    if i==5:
        continue
    print(i,end=" ")
print("out side  of the loop")

0 1 2 3 4 6 7 8 9 out side  of the loop

In [5]:
for i in range(1):
    for j in range(6):
        print(f'{i}-->{j}',end=" ")
    print()

0-->0 0-->1 0-->2 0-->3 0-->4 0-->5

In [6]:
i=int(input())
for i in range(1,i+1,1):
    print(i,end=" ")

5
1 2 3 4 5

In [7]:
if print("abc"):

    print("hello")

abc

In [8]:
if 3 and 0 or 4:
    print("true")
else:
    print("false")

true

In [13]:
if 'hi' in 'hi,hello':
    print("hi")
else:
    print("bye")

hi

In [14]:
if True:
    print("if true")
else:
    print("else smts")

if true

In [15]:
print("if true" if True else "else stmt")

if true

In [16]:
n = int(input())
for i in range(1,n+1):
    print(i**2-1,end=" ")

6
0 3 8 15 24 35

In [ ]:
#print table of 5

n=int(input())
for i in range(1,n+1):
    print(i*5,end=" ")

10
5 10 15 20 25 30 35 40 45 50

In [ ]:
#sum of n natural number

n=int(input())
sum=0
for i in range(1,n+1):
    sum =sum+i
    print(sum,end=" ")

10
1 3 6 10 15 21 28 36 45 55

In [ ]:
for i in range(1,6):
    print(1,end=" ")
for i in range(1,6):
    print(2,end=" ")
for i in range(1,6):
    print(3,end=" ")

1 1 1 1 1 2 2 2 2 2 3 3 3 3 3

In [ ]:
for j in range(1,6):
    for i in range(1,6):
     print(j,end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

# **Function**

**there are four type of function** -<br>
01.building<br>
02.user-define<br>
03.recurtion<br>
04.lembda

In [17]:
def FirstFunction():    #camel case
    print("hello")
    print("stml 2")
    print("stml 3")
    print("function will not excute")
    print("until and unless fun call is")
    print("made")

FirstFunction()       #function call

def outSide():
    print("out side function 1")
    print("out side function 2")
    print("out side function 3")
outSide()

outSide()
outSide()
outSide()
FirstFunction()

hello
stml 2
stml 3
function will not excute
until and unless fun call is
made
out side function 1
out side function 2
out side function 3
out side function 1
out side function 2
out side function 3
out side function 1
out side function 2
out side function 3
out side function 1
out side function 2
out side function 3
hello
stml 2
stml 3
function will not excute
until and unless fun call is
made

In [18]:
def fun():
    print("function without arguments & return type")

def fun():
    print("function without arguments & return type")
    print("Python")
    print("Python is a programming language")
    print("Python are built to write complex code in short and easy way")



def moon():
    print("function without arguments & return type")

fun()
moon()

function without arguments & return type
Python
Python is a programming language
Python are built to write complex code in short and easy way
function without arguments & return type

#**function with perameters**

In [21]:
def sumOfTwo(a,b):  #a,b ==> parameters
    c=a+b
    print(f'sum of {a} + {b} = {c}')
    print('a,b => are parameters')

#first way of calling
sumOfTwo(10,20)

#second way to calling
var1,var2 =23,5

#third way to calling
abc1=(input())
sumOfTwo(abc1,(input()))

sum of 10 + 20 = 30
a,b => are parameters
10
20
sum of 10 + 20 = 1020
a,b => are parameters

In [ ]:
#1.positional argument

def fun(a,b,c,d):
    print(f'a={a},b={b},c={c},d={d}')

fun(10,20,30,40)

a=10,b=20,c=30,d=40

In [ ]:
#2.variable length arguments

def fun(*args):
    print(args)

fun()
fun(2)
fun(2,"three")
fun(1,23,34,8+3j,"hello")
fun(2,34)
fun(112,323,2354)

()
(2,)
(2, 'three')
(1, 23, 34, (8+3j), 'hello')
(2, 34)
(112, 323, 2354)

In [ ]:
#fun() error

def fun(a,b,c,*args):
    print(f'a={a},b={b},c={c}')
    print(f'args:{args}')

fun(10,20,30)

fun(19,38,48,586,9)
fun(19,74,78348,547849)
fun(361,"hello",54,368)

a=10,b=20,c=30
args:()
a=19,b=38,c=48
args:(586, 9)
a=19,b=74,c=78348
args:(547849,)
a=361,b=hello,c=54
args:(368,)

In [ ]:
#3.default argument

def fun(a=10,b=20,c="hi"):
    print(f'a={a},b={b},c={c}')

fun()
fun(1200)
fun(120,"hello")

fun()
fun(" "," "," ")

a=10,b=20,c=hi
a=1200,b=20,c=hi
a=120,b=hello,c=hi
a=10,b=20,c=hi
a= ,b= ,c=

In [ ]:
#combination of three arguments(positional,variable lenght,default)

def fun(a,b,c=12,d=123,*args):
    print(f'a={a},b={b}')
    print(f'c={c},d={d}')
    print(f'args={args}',end="\n\n")

fun(1,2)
fun(1,23,4,45)
fun(12,12,3,13,13,3,3,234)

fun(1,2,3,4,5)

a=1,b=2,
c=12,d=123
args=()

a=1,b=23,
c=4,d=45
args=()

a=12,b=12,
c=3,d=13
args=(13, 3, 3, 234)

a=1,b=2,
c=3,d=4
args=(5,)

In [ ]:
#4.keyword argument

def fun(a,b,c):
    print(f'a={a},b={b},c={c}')

fun(c=12344,a="hello",b=2446)

a=hello,b=2446,c=12344

In [ ]:
#combination of four arguments(positional,variable length,default and keywords)
def fun(a,b,c='cat',d="dog",*args):
    print(f'a={a},b={b}')
    print(f'c={c},d={d}')
    print(f'args={args}')

fun(10,20,"hi")
fun(10,20,"hi",1,2,3,4,5,6)

fun(1,34,d=456,c=345)

a=10,b=20
c=hi,d=dog
args=()
a=10,b=20
c=hi,d=1
args=(2, 3, 4, 5, 6)
a=1,b=34
c=345,d=456
args=()

In [ ]:
# generate code

n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==1 or i==n or j==1 or j==n:
            print("*",end=" ")
        else:
            print("-",end=" ")
    print()

* * * * *
* - - - *
* - - - *
* - - - *
* * * * *

In [ ]:
#2146 check 2 and 6 are even if even print true and same for 2147 if odd print false

def reverse(k):
     pos=0
     while k>0:
        rem=k%10
        pos = pos*10+rem
        k=k//10

     return pos
n=int(input())
temp= reverse(n)

n,temp=n%10,temp%10

print(n%2==0 and temp%2==0)

2146
True

In [ ]:
def fun(q,r,a="apple",b="ball",*args,**kwargs):
    print(f'q={q},r={r}')
    print(f'a={a},b={b}')
    print(f'args={args}')
    print(f'kwargs={kwargs}')

fun(12,32,646,"hii","hello",748)
fun(1,23,3,5,6,78,9,t="tin",p="pen",d="donkey")

q=12,r=32
a=646,b=hii
args=('hello', 748)
kwargs={}
q=1,r=23
a=3,b=5
args=(6, 78, 9)
kwargs={'t': 'tin', 'p': 'pen', 'd': 'donkey'}

In [ ]:
def fun(a,b,c,**kwargs):
    print(f'a={a},b={b},c={c}')
    print(f'kwargs={kwargs}')
fun(12,123,123243)
fun(b=1323,a=2762,c=34)
fun(1,c=102,b=132,d="dog",e="jai shree ram")

a=12,b=123,c=123243
kwargs={}
a=2762,b=1323,c=34
kwargs={}
a=1,b=132,c=102
kwargs={'d': 'dog', 'e': 'jai shree ram'}

In [ ]:
def sumOfTwo(a,b):
    c=a+b
    return(c)

ans=sumOfTwo(1356,467)
print(ans)

print(sumOfTwo(14,363))

1823
377

In [ ]:
#arithmetic operators using function


def arithmeticOperator(a,b):
     c=a+b
     return(c,a+b,a*b,a%b,a/b,a//b)

ans=arithmeticOperator(2,7)
print(ans)
print(ans[1])
print(ans[3])
print(ans[4])

(9, 9, 14, 2, 0.2857142857142857, 0)
9
2
0.2857142857142857

# **Recursive function**

In [ ]:
#(function calling itself called recursive function)

def fun(a):
    if a==1:
        return 1
    return a+fun(a-1)

ans= fun(4)

print(ans)

10

In [ ]:
def fun(n):
     if n>0:
        fun(n-1)
        print(n,end=" ")
        fun(n-1)

ans=fun(3)
print(ans)

1 2 1 3 1 2 1 None

In [ ]:
def fun1(n):
    if n:
        print(n,end=" ")
        fun2(n-2)
def fun2(n):
    if n:
        print(n,end=" ")
        fun1(n+1)

fun1(5)

5 3 4 2 3 1 2

In [ ]:
#homework
def fun(a,b):
    if b==0:
        return a
    else:
        return fun(b,a%b)

print=fun(2,8)

# **Lambda function or anonymous function**

In [ ]:
name_f = lambda : print("hello world")
name_f()

hello world

In [ ]:
batch4 = lambda : print('python class')
batch4()

python class

In [ ]:
fun = lambda a: print(f'a={a}')
fun(3)
fun('apple')

a=3
a=apple

In [ ]:
square = lambda a : a**2
print(square(79))

6241

In [ ]:
square = lambda a : print(f'square :{a**2}')
square(3)

square :9

In [ ]:
fun = lambda a,b : a+b
fun(2,3)

5

In [ ]:
fun = lambda a,b :(a+b, a*b, a%b, a//b)
fun(2,3)
print(fun(8,4)[2])  #if we want to print all out put we need to print the function
fun(34,36)

0

(70, 1224, 34, 0)

In [ ]:
fun = lambda : ('one', 'two')
print(fun())

('one', 'two')

In [23]:
fun = lambda : ('one', lambda : print("inner lambda"))
print(fun())
print(f' fun()[0] = {fun()[0]}')
print(f' fun()[1] = {fun()[1]}')

('one', <function <lambda>.<locals>.<lambda> at 0x7db5cad3d120>)
 fun()[0] = one
 fun()[1] = <function <lambda>.<locals>.<lambda> at 0x7db5ea4d8720>

In [ ]:
fun = lambda : ('one',lambda a : a**2)  #  outer lambda function and,
fun()                                   #  inner lambda function
fun()[1](4)

16

In [ ]:
fun = lambda a: a*a
fun(2)

4

In [ ]:
fun = lambda a : lambda b: a*b
fun(2)
fun(2)(3)

6

#**LIST**

In [ ]:
L=[1,2,"apple", 'mango',12,242,1234234]
print(L)

[1, 2, 'apple', 'mango', 12, 242, 1234234]

In [ ]:
l='1 2 3 4 45 56 7 8 hello hi bye'.split()
print(l)

['1', '2', '3', '4', '45', '56', '7', '8', 'hello', 'hi', 'bye']

In [ ]:
l=input().split()
print(l)

1 2 3 5 6 7
['1', '2', '3', '5', '6', '7']

In [ ]:
l=map(int,input().split())
print(l)

1 2 3 5 6 7 8
<map object at 0x7a19d0e82f80>

In [ ]:
a,b,c= map(int,input().split())
print(a,b,c)

1 2 3
1 2 3

In [ ]:
a=list(map(int,input().split()))
print(a)

1 2 3 3
[1, 2, 3, 3]

In [ ]:
a= list(map(complex,input().split()))
print(a)

284297
[(284297+0j)]

In [ ]:
a=list(map(int,'1243'))
print(a)

[1, 2, 4, 3]

In [ ]:
l=["one",23,"apple",45.56,2+3j,78,"hello"]
print(l)
print(f' l={l}')
print(f' l[3]={l[3]}')
print(f' l[0]={l[0]}')
print(f' l[6]={l[6]}')

['one', 23, 'apple', 45.56, (2+3j), 78, 'hello']
 l=['one', 23, 'apple', 45.56, (2+3j), 78, 'hello']
 l[3]=45.56
 l[0]=one
 l[6]=hello

In [ ]:
l=["one",23,"apple",45.56,2+3j,78,"hello"]
print(len(l))

7

In [ ]:
# accessing all the object one by one

l=["one",23,"apple",45.56,2+3j,78,"hello"]
print(len(l))

for i in range(0,len(l)):
    print(l[i],end=" ")

7
one 23 apple 45.56 (2+3j) 78 hello

In [ ]:
l=['one',23,"apple",45.56,2+3j,78,'hello']

print(f'l={l}')
print(f'l[3]={l[3]}')
print(l)

l=['one', 23, 'apple', 45.56, (2+3j), 78, 'hello']
l[3]=45.56
['one', 23, 'apple', 45.56, (2+3j), 78, 'hello']

#**Slicing**

In [ ]:
#l=[start:stop:step]

#start=0(always)
#stop=(condition given)
#step=(given)

In [ ]:
l=['one',23,"apple",45.56,2+3j,78,'hello']

print(f'l[::]={l[::]}')


#start
print(f'l[0:]={l[0:]}')
print(f'l[3:]={l[3:]}')


#stop
print(f'l[:len(l)]={l[:len(l)]}')
print(f'l[:5]={l[:5]}')

#[::step]
print(f'l[::1]={l[::1]}')
print(f'l[::2]={l[::2]}')

l[::]=['one', 23, 'apple', 45.56, (2+3j), 78, 'hello']
l[0:]=['one', 23, 'apple', 45.56, (2+3j), 78, 'hello']
l[3:]=[45.56, (2+3j), 78, 'hello']
l[:len(l)]=['one', 23, 'apple', 45.56, (2+3j), 78, 'hello']
l[:5]=['one', 23, 'apple', 45.56, (2+3j)]
l[::1]=['one', 23, 'apple', 45.56, (2+3j), 78, 'hello']
l[::2]=['one', 'apple', (2+3j), 'hello']

In [ ]:
#start

l=['one',23,"apple",45.56,2+3j,78,'hello']

print(f'l[0:]={l[0:]}')
print(f'l[4:]={l[4:]}')
print(f'l[3:]={l[3:]}')

print(f'l[-3:]={l[-3:]}')
print(f'l[-1:]={l[-1:]}')
print(f'l[-5:]={l[-5:]}')

l[0:]=['one', 23, 'apple', 45.56, (2+3j), 78, 'hello']
l[4:]=[(2+3j), 78, 'hello']
l[3:]=[45.56, (2+3j), 78, 'hello']
l[-3:]=[(2+3j), 78, 'hello']
l[-1:]=['hello']
l[-5:]=['apple', 45.56, (2+3j), 78, 'hello']

In [ ]:
l=['one',23,"apple",45.56,2+3j,78,'hello']

print(f'l={l}')
print(f'l[:-2]={l[:-2]}')
print(f'l[:0]={l[:0]}')
print(f'l[:-1]={l[:-1]}')
print(f'l[:-3]={l[:-3]}')

print(f'l[:2]={l[:2]}')
print(f'l[:5]={l[:5]}')
print(f'l[:6]={l[:6]}')

l=['one', 23, 'apple', 45.56, (2+3j), 78, 'hello']
l[:-2]=['one', 23, 'apple', 45.56, (2+3j)]
l[:0]=[]
l[:-1]=['one', 23, 'apple', 45.56, (2+3j), 78]
l[:-3]=['one', 23, 'apple', 45.56]
l[:2]=['one', 23]
l[:5]=['one', 23, 'apple', 45.56, (2+3j)]
l[:6]=['one', 23, 'apple', 45.56, (2+3j), 78]

In [ ]:
l=['one',23,"apple",45.56,2+3j,78,'hello']

print(f'l[::2]={l[::2]}')
print(f'l[::3]={l[::3]}')
                                   #formula...

                                  #-1====  len(l)*-1 ==>by default Value
                                   #  start>stop
print(f'l[::-1]={l[::-1]}')
print(f'l[::-2]={l[::-2]}')
print(f'l[::-3]={l[::-3]}')

l[::2]=['one', 'apple', (2+3j), 'hello']
l[::3]=['one', 45.56, 'hello']
l[::-1]=['hello', 78, (2+3j), 45.56, 'apple', 23, 'one']
l[::-2]=['hello', (2+3j), 'apple', 'one']
l[::-3]=['hello', 45.56, 'one']

In [ ]:
l=['one',23,"apple",45.56,2+3j,78,'hello']

print(f'l[-6:-2]={l[-6:-2]}')

print(f'l[1:5:-1]={l[1:5:-1]}')

print(f'l[2:5:-1]={l[2:5:-1]}')

print(f'l[1:5:-2]={l[1:5:-2]}')

print(f'l[-1:5:-2]={l[-1:5:-2]}')
print(f'l[-2:5:-1]={l[-2:5:-1]}')

print(f'l[6:1:-2]={l[6:1:-2]}')

l[-6:-2]=[23, 'apple', 45.56, (2+3j)]
l[1:5:-1]=[]
l[1:5:-1]=[]
l[1:5:-2]=[]
l[-1:5:-2]=['hello']
l[-2:5:-1]=[]
l[6:1:-2]=['hello', (2+3j), 'apple']

#**List methods**

In [ ]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
a1=[1,2,3]
a2=[4,5,6]

print(id(a1),id(a2))

b=a1+a2
print(b,id(b))
b=b+[11,12,13]
print(b,id(b))

132836944591936 132836944579328
[1, 2, 3, 4, 5, 6] 132836967665344
[1, 2, 3, 4, 5, 6, 11, 12, 13] 132836944580864

In [ ]:
a=[1,2,3,54]
print(a*3)
print(a)
b=a*3
print(b[2:])

[1, 2, 3, 54, 1, 2, 3, 54, 1, 2, 3, 54]
[1, 2, 3, 54]
[3, 54, 1, 2, 3, 54, 1, 2, 3, 54]

#**Membership operator of list**

In [ ]:
print(1 in [3,4,5,6,7])

False

In [ ]:
a=['hello','world','hello',30,3+4j]

print(a)

a[0],a[4]="3+4j","hello"
print(a)

['hello', 'world', 'hello', 30, (3+4j)]
['3+4j', 'world', 'hello', 30, 'hello']

In [ ]:
a=['hello','world','hello',30, 3+4j]
a.reverse()
print(a)

[(3+4j), 30, 'hello', 'world', 'hello']

In [ ]:
a=[1,2,3,4]
b=a
print(f'a={a}, b={b}')
b[1]=100
print(f'a={a}, b={b}')

a=[1, 2, 3, 4], b=[1, 2, 3, 4]
a=[1, 100, 3, 4], b=[1, 100, 3, 4]

In [ ]:
a=[1,3,4353,5,6475,4664]
print(max(a))

6475

In [ ]:
#append(add object in the list from back side)

l=[12, 213, 546, 6]
print(l)
l.append([12,241,54,7])
print(l)
l.append(23)
print(l)
l.append('hello')
print(l)
l.append(['a','b','v'])
print(l)

[12, 213, 546, 6]
[12, 213, 546, 6, [12, 241, 54, 7]]
[12, 213, 546, 6, [12, 241, 54, 7], 23]
[12, 213, 546, 6, [12, 241, 54, 7], 23, 'hello']
[12, 213, 546, 6, [12, 241, 54, 7], 23, 'hello', ['a', 'b', 'v']]

In [ ]:
l=[12,23,67.89,'hello','hii']
print(l)
l.append(40)
print(l)
l.append([100,2934,484784])
l.extend(['one','two','three'])

print(l)

[12, 23, 67.89, 'hello', 'hii']
[12, 23, 67.89, 'hello', 'hii', 40]
[12, 23, 67.89, 'hello', 'hii', 40, [100, 2934, 484784], 'one', 'two', 'three']

In [ ]:
#insert

l=['one',23,'apple',45.56,2+3j,78,'hello']
print(l)
l.insert(2,'mango')
print(l)
l.insert(4,[3,5,6])
print(l)

['one', 23, 'apple', 45.56, (2+3j), 78, 'hello']
['one', 23, 'mango', 'apple', 45.56, (2+3j), 78, 'hello']
['one', 23, 'mango', 'apple', [3, 5, 6], 45.56, (2+3j), 78, 'hello']

In [ ]:
#  (remove)== if object is present in the list it will remove and if object
#  is not present in the list i will show error.

l=['one',23,'apple',45.56,2+3j,78,'hello']

print(l)
l.remove("hello")
print(l)
l.remove('apple')
print(l)

['one', 23, 'apple', 45.56, (2+3j), 78, 'hello']
['one', 23, 'apple', 45.56, (2+3j), 78]
['one', 23, 45.56, (2+3j), 78]

In [ ]:
#pop

l=['one',23,'apple',45.56,2+3j,78,'hello']
print(l)

l.pop(3)
print(l)
l.pop(-2)
print(l)

deleted_object = l.pop(-2)
print(deleted_object)

l.pop()  #last object will we printed

['one', 23, 'apple', 45.56, (2+3j), 78, 'hello']
['one', 23, 'apple', (2+3j), 78, 'hello']
['one', 23, 'apple', (2+3j), 'hello']
(2+3j)

'hello'

In [ ]:
#clear

l=['one',23,'apple',45.56,2+3j,78,'hello']

print(l)

l.clear()
print(l)

['one', 23, 'apple', 45.56, (2+3j), 78, 'hello']
[]

In [ ]:
#del(keyword)

l=['one',23,'apple',45.56,2+3j,78,'hello']

print(l)

del l
#print(l)  error

['one', 23, 'apple', 45.56, (2+3j), 78, 'hello']

In [ ]:
#index== it will be give the first index of that object,what i put

a1=[1,2,3,4,2,3,2,3,4,5,4,76,87,89,90,50]
print(a1.index(4))

print(a1.index(2,4))    #negative index is not allow
print(a1.index(1))

3
4
0

In [ ]:
#cont()

a1=[1,2,3,4,2,3,2,3,4,5,4,76,87,89,90,50]
print(a1.count(2))

3

In [ ]:
a=[1,2,3,'abc',12.234,2+3j]
b=a
b[2]='apple'  # it will update the palce of the object
print(a,b)

c=a.copy()     # creat a dublicate list
c[1]
print(f'a={a},c={c}')

[1, 2, 'apple', 'abc', 12.234, (2+3j)] [1, 2, 'apple', 'abc', 12.234, (2+3j)]
a=[1, 2, 'apple', 'abc', 12.234, (2+3j)],c=[1, 2, 'apple', 'abc', 12.234, (2+3j)]

In [ ]:
#reverse

l=[1,2,3,4,51,2,123]
print(l)
l.reverse()
print(l)

[1, 2, 3, 4, 51, 2, 123]
[123, 2, 51, 4, 3, 2, 1]

In [ ]:
#sort

l=[1,8,3,5,2,6,3,6,2,4]
print(l)

l.sort()
print(l)

l.sort(reverse= True)  #short based on reverse order
print(l)

[1, 8, 3, 5, 2, 6, 3, 6, 2, 4]
[1, 2, 2, 3, 3, 4, 5, 6, 6, 8]
[8, 6, 6, 5, 4, 3, 3, 2, 2, 1]

In [ ]:
# sort based on the list

a=['hello','hi','one','three']
print(a)
a.sort(key=len)

print(a)

['hello', 'hi', 'one', 'three']
['hi', 'one', 'hello', 'three']

In [ ]:
a=['hello','hi','one','three']
print(a)
a.sort(key=len,reverse=True)
print(a)

['hello', 'hi', 'one', 'three']
['hello', 'three', 'one', 'hi']

In [ ]:
#operators

a=[1,2,3,4,56,6]
print(a)
print(f'max(a) : {max(a)}')
print(f'min(a): {min(a)})')
print(f'len(a):{len(a)}')
print(f'sum(a);{sum(a)}')

#  all==check all the object in list are non zero values
print(f'all([1,2,3]): {all([1,2,3])}')
print(f'all([1,0,2]):{all([1,0,2])}')


#any== check for atleast one, non zero value
print(f'any([1,2,3]): {any([1,2,3])}')
print(f'any([1,0,2]):{any([1,0,2])}')
print(f'any([0,0,0]):{any([0,0,0])}')

[1, 2, 3, 4, 56, 6]
max(a) : 56
min(a): 1)
len(a):6
sum(a);72
all([1,2,3]): True
all([1,0,2]):False
any([1,2,3]): True
any([1,0,2]):True
any([0,0,0]):False

In [ ]:
#Q

n1=['python','flask','django', 'tkinter']
n2=n1
n3=n1[:2]

n2[0]='Scipy'
n3[1]='Numpy'

s=10
for i in(n1,n2,n3):
    if i[0]== 'python':
        s +=1
    if i[1] == "python":
        s += 2
print(s)

11

#**NESTED LIST**

In [ ]:
l=[1,2,3,4,[10,20,30],23,45,[5,6,7]]

print(len(l))
print(f'l={l}')

print(f'l[3]={l[3]},l[5]={l[5]}')
print(f'l[4]={l[4]},l[7]={l[7]}')

print(f'l[4][1]={l[4][1]}')  #for print 20

print(f'l[7][2]={l[7][2]}')

print(f'l[4][::-1]={l[4][::-1]}')  #reverse by slicing

l[4].reverse()
print(l)

l[-1].reverse()
print(l)

8
l=[1, 2, 3, 4, [10, 20, 30], 23, 45, [5, 6, 7]]
l[3]=4,l[5]=23
l[4]=[10, 20, 30],l[7]=[5, 6, 7]
l[4][1]=20
l[7][2]=7
l[4][::-1]=[30, 20, 10]
[1, 2, 3, 4, [30, 20, 10], 23, 45, [5, 6, 7]]
[1, 2, 3, 4, [30, 20, 10], 23, 45, [7, 6, 5]]

In [ ]:
l=[1,2,[10,20,30,40],[11,12,13,14,15]]
print(l[2])

#l[][start:]
print(l[2][2:],l[2][1:])

#l[][:stop]
print(l[2][:-3],l[2][:-1])
print(l[3][:3])
print(l[3][:3],l[2][:-2])

#l[][::step]
print(l[2][::-1])
print(l[-1][::-2])
print(l[-2][1:3:-1])

[10, 20, 30, 40]
[30, 40] [20, 30, 40]
[10] [10, 20, 30]
[11, 12, 13]
[11, 12, 13] [10, 20]
[40, 30, 20, 10]
[15, 13, 11]
[]

In [ ]:
l='hello'if 10>9 else 'hi'
print(l)

hello

In [ ]:
sequence = [10,34,534,123,52]
l= [i for i in sequence]
print(l)

[10, 34, 534, 123, 52]

In [ ]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
l=[i for i in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l=[i*3 for i in range(1,11)]
print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
for i in range(11):
    print(i*3,end=" ")

0 3 6 9 12 15 18 21 24 27 30

In [ ]:
l=[i for i in range(0,11,2)]
print(l)

[0, 2, 4, 6, 8, 10]

In [ ]:
a=[10,23,56,12,87,21,65,89,100]
l=[i for i in a]
print(l)

[10, 23, 56, 12, 87, 21, 65, 89, 100]

In [ ]:
a=[10,23,56,12,87,21,65,89,100]
l=[i for i in a if i%2==0]

print(l)

[10, 56, 12, 100]

In [ ]:
#done by me

a=[0,3,8,15,24,35]
l=[i for i in a if i**2-1]
print(l)

[0, 3, 8, 15, 24, 35]

In [ ]:
# 0 3 8 15 35

l=[]
for i in range(5):
    l.append( int(input()))

print(l)

0
3
8
15
35
[0, 3, 8, 15, 35]

In [ ]:
l=[(int(input())) for i in range(int(input()))]
print(l)

2
2
3
[2, 3]

In [ ]:
outer=[]
for i in range(3):
    l=list(map(int,input().split()))
    outer.append(1)
print(outer)

2
3
4
[1, 1, 1]

In [ ]:
l=[ (map(int,input().split())) for i in range(int(input()))]

print(l)

4
5
6
2
3
[<map object at 0x7f72bb523e20>, <map object at 0x7f72bb523610>, <map object at 0x7f72bb5207f0>, <map object at 0x7f72bb523d60>]

In [ ]:
t='Enter number of nested list to insert : '
l= [list(map(int,input().split())) for i in range(int(input()))]
print(l)

2
12
13
[[12], [13]]

In [ ]:
# question

l=[10,1,1,2,3,1,4,1,3,1,23]
unique=[]
for i in l:
    if i not in unique:
        unique.append(i)    #10 1 2 3 4 23
print(unique)

[10, 1, 2, 3, 4, 23]

# **Touple**
ordered collection of objects

In [ ]:
t=()
print(t,type(t))
t=tuple()
print(t,type(t))

() <class 'tuple'>
() <class 'tuple'>

In [ ]:
t=(1,2,'niet','batch44',12+0j,21.43)
print(t)

(1, 2, 'niet', 'batch44', (12+0j), 21.43)

In [ ]:
t=tuple([1,2,3,4])
print(t)

(1, 2, 3, 4)

In [ ]:
t=tuple(input().split())
print(t)

2 3 4 5 67 8
('2', '3', '4', '5', '67', '8')

In [ ]:
t=tuple(map(int,input().split()))
print(t)

1 2 3 4 54 6 7 8
(1, 2, 3, 4, 54, 6, 7, 8)

In [ ]:
t=tuple(map(int,input().split()))
print(t)

1 2 32 456
(1, 2, 32, 456)

In [ ]:
t=(1,2,'niet','batch44',12+0j,21.43)
print(t)

for i in t:
    print(i,end=" ")

print(*t)

(1, 2, 'niet', 'batch44', (12+0j), 21.43)
1 2 niet batch44 (12+0j) 21.43 1 2 niet batch44 (12+0j) 21.43

In [ ]:
#induction are of two type in tuple
#1.positive inducting
#2.negative inducting

In [ ]:
t=(1,2,'niet','batch44',12+0j,21.43)
print(f't[2]={t[2]},t[-4]={t[-4]}')
print(f't[4]={t[4]},t[-2]={t[-2]}')

t[2]=niet,t[-4]=niet
t[4]=(12+0j),t[-2]=(12+0j)

#slicing of tuple

In [ ]:
t=(1,2,'niet','batch44',12+0j,21.43)
print(t[1:5:1])
print(f't[1:5:-1]={t[1:5:-1]}')
print(f't[0:5:-1]={t[0:5:-1]}')
print(f't[5:1:-1]={t[5:1:-1]}')

(2, 'niet', 'batch44', (12+0j))
t[1:5:-1]=()
t[0:5:-1]=()
t[5:1:-1]=(21.43, (12+0j), 'batch44', 'niet')

In [ ]:
t=(1,2,'niet','batch44',12+0j,21.43)

n=t[:3]+t[3::-1]
print(n)

(1, 2, 'niet', 'batch44', 'niet', 2, 1)

In [ ]:
#tuple is imutalble
#which mean it can not change

In [ ]:
t=(1,2,'niet','batch44',12+0j,21.43)

n=t[:3:-1]+t[:3:1]
print(n)

n=t[::-2]+t[::2]
print(n)

(21.43, (12+0j), 1, 2, 'niet')
(21.43, 'batch44', 2, 1, 'niet', (12+0j))

#nested tuple

In [ ]:
t=(1,2,3,(34,56,78,90),"hello")
print(f't[3][1]={t[3][1]}')
print(f't[-2][-3]={t[-2][-3]}')

print(t[::-1])

t[3][1]=56
t[-2][-3]=56
('hello', (34, 56, 78, 90), 3, 2, 1)

In [ ]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      MonthDayNano
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
t=(1,2,3,4,5)*5
print(t)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
t=(1,2,3,4,5,1,2,3,4,5,1,2,3,4,5)
print(t)
print(t.count(2))
print(t.count(100))
print(t.index(3))
print(t.index(3,3,14))

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
3
0
2
7

In [ ]:
#del t == delete the tuple

In [ ]:
l=[]
t=tuple([i for i in range(10)])
print(t)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [24]:
l=[]
t=tuple([i for i in range(int(input())) if i%2==0])
print(t)

20
(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)

In [ ]:
t=(21,51,32,32,51,51,10)
print(t.count(t[t.index(51)+1]))

2

In [ ]:
t=(1,2,4)

t2=((123,4,6,78))
t3=t+t2
print(len(t3))

7

In [ ]:
t=(1,2,4)

t2=((123,4,6,78),)
t3=t+t2

print(len(t3))

4

In [ ]:
# this program remove the digit from to tuple

t=tuple(input().split())
key = input()
if key in t:
    print(t[:t.index(key)]+t[t.index(key)+1:])
else:
    print(t)

1 2 3 4 54 6  7 9
4
('1', '2', '3', '54', '6', '7', '9')

In [ ]:
#count of the object

t= (1,2,3,'hello',2+3j,(1,2,3),4,5)
c=0
for i in t:
    if isinstance(i,tuple):
        break
    c+=1
print(c)

5

#**Set**

In [ ]:
s={}
print(s,type(s))

{} <class 'dict'>

In [ ]:
s={1}
print(s,(type(s)))

{1} <class 'set'>

In [ ]:
#by using the set method we can creat empty set

s={1,2,3,4,5,8,7,8,99,5678,456}
print(s)

{1, 2, 3, 4, 5, 99, 7, 8, 456, 5678}

In [ ]:
s={2,3,5,6,5,9,789,765}
for i in s:
    print(i,end=" ")

2 3 5 6 789 9 765

In [ ]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
s=set(map(int,input().split()))
print(s)

2 4 5 67
{2, 67, 4, 5}

In [ ]:
s={312,32,35,65,455}
s.add(23)
print(s)

{32, 65, 35, 23, 455, 312}

In [ ]:
#can not add more than one object in the set
#can no add tuple in the set

s={312,32,35,65,455}
s.add(12)        #error
print(s)

{32, 65, 35, 455, 312, 12}

In [ ]:
s={312,32,35,65,455}
s.update({12,234,546})
print(s)

{32, 65, 546, 35, 455, 312, 234, 12}

In [ ]:
s={312,32,35,65,455}
s.update({11,23,455})
print(s)
s.update([12,24,54,65])
print(s)
#S.UPDATE(12) ERROR
#update accepts only iterable

{32, 65, 35, 23, 455, 312, 11}
{65, 455, 11, 12, 23, 24, 32, 35, 54, 312}

In [ ]:
s={312,35,12,45,897,56,89}
a=s.copy()  #duplicate
print(a)

{897, 35, 312, 89, 56, 12, 45}

In [ ]:
#pop==random object from set will be deleted

s={312,35,12,45,897,43,5243,56,89}
print(s.pop())
print(s)

897
{35, 43, 12, 45, 312, 89, 56, 5243}

In [ ]:
s={312,35,12,45,897,56,89}
s.remove(45)
print(s)

#only the object prsent in the set ,by remove method
#we can remove only that object
#the object which is not present it will so error

{897, 35, 312, 89, 56, 12}

In [ ]:
s={312,35,12,45,897,56,89}
s.discard(312)
print(s)

s.discard(500)
print(s)

{897, 35, 89, 56, 12, 45}
{897, 35, 89, 56, 12, 45}

In [ ]:
s={312,35,12,45,897,56,89}
s.clear()
print(s)

set()

In [25]:
s={312,35,12,45,897,56,89}
#del s[0]              #error
print(s)

{897, 35, 312, 89, 56, 12, 45}

In [ ]:
s1={10,11,12,13,14,15}
s2={9,8,7,6,5,4}
s1.union(s2)
print(s1,s2)

{10, 11, 12, 13, 14, 15} {4, 5, 6, 7, 8, 9}

In [ ]:
s1={10,11,12,13,14,15}
s2={9,8,7,6,5,4}
s1.union(s2)
print(f's1={s1},s2={s2}')
s3=s1.union(s2)
print(f's3={s3}')

s4=s1|s2
print(f's4={s4}')

s1={10, 11, 12, 13, 14, 15},s2={4, 5, 6, 7, 8, 9}
s3={4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
s4={4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [ ]:
s1={10,11,12,13,14,15}
s2={9,8,7,6,5,4}
s1.intersection(s2)
print(f's1={s1} s2={s2}')
s3=s1.intersection(s2)
print(f' s3={s3}')
s3=s1 & s2
print(f's3={s3}')

s1={10, 11, 12, 13, 14, 15} s2={4, 5, 6, 7, 8, 9}
 s3=set()
s3=set()

In [ ]:
s1={10,11,12,13,14,15}
s2={9,8,7,6,5,4}
s1.intersection_update(s2)
print(f's1={s1} s2={s2}')

s1=set() s2={4, 5, 6, 7, 8, 9}

In [ ]:
s1={10,11,12,13,14,15}
s2={9,8,7,6,5,4}
s1.intersection_update(s2)
s1&=s2
print(f's1={s1} s2={s2}')

s1=set() s2={4, 5, 6, 7, 8, 9}

In [ ]:
s1={10,11,12,13,14,15}
s2={9,8,7,6,5,4}
s1&= s2
print(f' s1={s1},s2={s2}')

 s1=set(),s2={4, 5, 6, 7, 8, 9}

In [ ]:
s1={10,11,12,13,14,15}
s2={9,8,7,6,5,4}
s3=s1.difference(s2)
print(f's1={s1}, s2={s2}')
print(f's3={s3}')
s3= s1-s2
print(f's1={s1}, s2={s2}')
print(f's3={s3}')

s1={10, 11, 12, 13, 14, 15}, s2={4, 5, 6, 7, 8, 9}
s3={10, 11, 12, 13, 14, 15}
s1={10, 11, 12, 13, 14, 15}, s2={4, 5, 6, 7, 8, 9}
s3={10, 11, 12, 13, 14, 15}

In [ ]:
s1={10,11,12,13,14,15}
s2={9,8,7,6,5,4}
print(f's1={s1}, s2={s2}')
s1.difference_update(s2)
print(f's1={s1}, s2={s2}')
s1 = s1-s2
print(f's1={s1}, s2={s2}')

s1={10, 11, 12, 13, 14, 15}, s2={4, 5, 6, 7, 8, 9}
s1={10, 11, 12, 13, 14, 15}, s2={4, 5, 6, 7, 8, 9}
s1={10, 11, 12, 13, 14, 15}, s2={4, 5, 6, 7, 8, 9}

In [ ]:
s1={10,11,12,13,14,15}
s2={9,8,7,6,5,4}
print(f's1={s1}, s2={s2}')
s3=s1.symmetric_difference(s2)
print(f's3={s3}')
s3=s1^s2
print(f' s3={s3}')

s1={10, 11, 12, 13, 14, 15}, s2={4, 5, 6, 7, 8, 9}
s3={4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
 s3={4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [ ]:
s1={10,11,12,13,14,15}
s2={9,8,7,6,5,4}
print(f's1={s1}, s2={s2}')
s1.symmetric_difference_update(s2)
print(f's1={s1}')
s1=s1^s2

s1={10, 11, 12, 13, 14, 15}, s2={4, 5, 6, 7, 8, 9}
s1={4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [ ]:
s1={1,2,3,4,5,6,7,8}
s2={3,4,5}
print(s2.issubset(s1))
s2={3,4,5,10,11}
print(s2.issubset(s1))

True
False

In [26]:
s1={1,2,3,4}
s2={1,2,3,4}
print(s2.issubset(s1))
print(s1<=s2)       #subset
print(s1<s2)   #proper subset


#the number of object in s1 should be greater than s2

True
True
False

In [ ]:
s1={1,2,3,4,5}
s2={1,2,3,4}
print(s2<s1)

True

In [ ]:
s1={1,2,3,4}
s2={1,2,5,56,6}
print(s2.isdisjoint(s1))
s1={1,2,3,4}
s2={5,6,7,8}
print(s2.isdisjoint(s1))

False
True

#**Superset**

In [ ]:
s1={1,2,3,4,5,6,7,8}
s2={3,4,5,6,7}
print(s1.issuperset(s2))

True

In [ ]:
s1={1,2,3,4}
print(s1)
s1.add(-3)
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, -3}

In [ ]:
s1=frozenset({1,2,3,4})
print(s1)
print(s1)

frozenset({1, 2, 3, 4})
frozenset({1, 2, 3, 4})

In [ ]:
s={i*2 for i in range(int(input()))}
print(s)

13
{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24}

In [ ]:
print({i for i in[1,2,1,2,3,1,4,1,4]})

{1, 2, 3, 4}

In [ ]:
#s1={ 1,{2,3}} #error

s1={1,frozenset({1,2,3})}
print(s1)

{frozenset({1, 2, 3}), 1}

#**Dictionaries**

In [ ]:
d={}
print(d,type(d))
d=dict()
print(d,type(d))

{} <class 'dict'>
{} <class 'dict'>

In [ ]:
# dict is unordered

In [ ]:
d={1:"one",2:"two"}
print(d)

{1: 'one', 2: 'two'}

In [ ]:
d={1:'one','key':60, 'k':56.45, 12.77:'asd'}
print(d)

{1: 'one', 'key': 60, 'k': 56.45, 12.77: 'asd'}

In [ ]:
d={'apple':100, 'mango':40, 'orange':30}
print(d)
print(d['mango'],d['apple'],d['orange'])

print(' d[mango]=',d['mango'])
print(' d[apple]=',d['apple'])
print(' d[orange]=',d['orange'])

{'apple': 100, 'mango': 40, 'orange': 30}
40 100 30
 d[mango]= 40
 d[apple]= 100
 d[orange]= 30

In [ ]:
d={'apple':100, 'mango':40, 'coconut':30}
for i in d:
    print(f'i={i}')
    print(f'd[{i}]={d[i]}',end='\n\n')

i=apple
d[apple]=100

i=mango
d[mango]=40

i=coconut
d[coconut]=30

In [ ]:
d={}
n=int(input('Enter number of key value pairs :'))
for i in range(n):
    key=input('Enter key :')
    value=int(input('Enter value :'))
    d[key]=value


print(d)

Enter number of key value pairs :2
Enter key :22
Enter value :11
Enter key :333333
Enter value :5555555
{'22': 11, '333333': 5555555}

In [27]:
d={1:'one',2:'two',3:'four',4:'five'}
print(d)
d[3]='three'
print(d)
d[6]='six'
print(d)

d[1]="new"
print(d)

#duplicate keys are not allowed in dict
# but 'value' ==> can be initialized

{1: 'one', 2: 'two', 3: 'four', 4: 'five'}
{1: 'one', 2: 'two', 3: 'three', 4: 'five'}
{1: 'one', 2: 'two', 3: 'three', 4: 'five', 6: 'six'}
{1: 'new', 2: 'two', 3: 'three', 4: 'five', 6: 'six'}

In [28]:
d={1:{1,2,3,4,5},'key':['a','b','c'],3:(3,4,5)}
print(d)

{1: {1, 2, 3, 4, 5}, 'key': ['a', 'b', 'c'], 3: (3, 4, 5)}

In [29]:
d={'key1':10,'key2':{1:'one',2:'two',3:'three'}}
print(d)
print("d['key1]=",d['key1'])
print("d['key2]=",d['key2'])

#accesing nested dict
print("d['key2'][1]=",d['key2'][1])
print("d['key2][2]=",d['key2'][2])
print("d['key2][3]=",d['key2'][3])

d["key2"][4]="four"
print(d['key2'])

{'key1': 10, 'key2': {1: 'one', 2: 'two', 3: 'three'}}
d['key1]= 10
d['key2]= {1: 'one', 2: 'two', 3: 'three'}
d['key2'][1]= one
d['key2][2]= two
d['key2][3]= three
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [ ]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
d={'a':'app','b':123,'c':2+3j,'d':True,'q':'abc'}
print(d)

print("d.get('a')=",d.get('a'))
print("d.get('b')=",d.get('b'))
print("d.get('c')=",d.get('c'))

print("d.key()=",d.keys())

print("d.values()=",d.values())

print("d.items()=",d.items())

{'a': 'app', 'b': 123, 'c': (2+3j), 'd': True, 'q': 'abc'}
d.get('a')= app
d.get('b')= 123
d.get('c')= (2+3j)
d.key()= dict_keys(['a', 'b', 'c', 'd', 'q'])
d.values()= dict_values(['app', 123, (2+3j), True, 'abc'])
d.items()= dict_items([('a', 'app'), ('b', 123), ('c', (2+3j)), ('d', True), ('q', 'abc')])

In [ ]:
d={'a':'app','b':123,'c':2+3j,'d':True,'q':'abc'}
print(d)

new_dict={1:'one',2:'two',3:'three'}

d.update({'new_key':10})
print(d)
d.update(new_dict)
print(d)
d.update({'a':'apple'})
print(d)

{'a': 'app', 'b': 123, 'c': (2+3j), 'd': True, 'q': 'abc'}
{'a': 'app', 'b': 123, 'c': (2+3j), 'd': True, 'q': 'abc', 'new_key': 10}
{'a': 'app', 'b': 123, 'c': (2+3j), 'd': True, 'q': 'abc', 'new_key': 10, 1: 'one', 2: 'two', 3: 'three'}
{'a': 'apple', 'b': 123, 'c': (2+3j), 'd': True, 'q': 'abc', 'new_key': 10, 1: 'one', 2: 'two', 3: 'three'}

In [ ]:
d={'a':"app","b":123,'c':2+3j,'d':True,'q':'abc'}
print(d)
b=d
b=d.copy()
print(b)

{'a': 'app', 'b': 123, 'c': (2+3j), 'd': True, 'q': 'abc'}
{'a': 'app', 'b': 123, 'c': (2+3j), 'd': True, 'q': 'abc'}

In [ ]:
d={'a':"app","b":123,'c':2+3j,'d':True,'q':'abc'}
print(d)
d.popitem()
print(d)

{'a': 'app', 'b': 123, 'c': (2+3j), 'd': True, 'q': 'abc'}
{'a': 'app', 'b': 123, 'c': (2+3j), 'd': True}

In [ ]:
d={'a':"app","b":123,'c':2+3j,'d':True,'q':'abc'}
print(d)
d.pop('a')
print(d)

{'a': 'app', 'b': 123, 'c': (2+3j), 'd': True, 'q': 'abc'}
{'b': 123, 'c': (2+3j), 'd': True, 'q': 'abc'}

In [ ]:
d={'a':"app","b":123,'c':2+3j,'d':True,'q':'abc'}
print(d)
d.clear()
print(d)

{'a': 'app', 'b': 123, 'c': (2+3j), 'd': True, 'q': 'abc'}
{}

#Fromkeys method

In [ ]:
d={'a':"app","b":123,'c':2+3j,'d':True,'q':'abc'}
print(d)
k={}
k=dict.fromkeys(d)
print(k)
k=dict.fromkeys(d,10)
print(k)
k=dict.fromkeys([1,2,3,4,5],'batch4')
print(k)

{'a': 'app', 'b': 123, 'c': (2+3j), 'd': True, 'q': 'abc'}
{'a': None, 'b': None, 'c': None, 'd': None, 'q': None}
{'a': 10, 'b': 10, 'c': 10, 'd': 10, 'q': 10}
{1: 'batch4', 2: 'batch4', 3: 'batch4', 4: 'batch4', 5: 'batch4'}

#Set default

In [ ]:
d={1:10, 2:20, 3:30, 4:40}
print(d)
print(d.setdefault(2))
print(d.setdefault(5))
print(d)
print(d.setdefault(6,45))
print(d)
print(d.setdefault(2,35))
print(d)

{1: 10, 2: 20, 3: 30, 4: 40}
20
None
{1: 10, 2: 20, 3: 30, 4: 40, 5: None}
45
{1: 10, 2: 20, 3: 30, 4: 40, 5: None, 6: 45}
20
{1: 10, 2: 20, 3: 30, 4: 40, 5: None, 6: 45}

In [ ]:
d={1:10, 2:20, 3:30, 4:40}
d2={i:d[i] for i in d}
print(d2)

{1: 10, 2: 20, 3: 30, 4: 40}

In [ ]:
d={1:10, 2:20, 3:30, 4:40}
d2={k:v for k,v in d.items()}
print(d2)

{1: 10, 2: 20, 3: 30, 4: 40}

In [ ]:
d={i:i**2 for i in range(10)}
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

#**String**

In [ ]:
s='batch 4'
print(s)
s="batch 4"
print(s)

s='batch 4 \
     new line'
print(s)
s="batch 4 \
    new line"
print(s)

s='''batch 4'''
print(s)
s="""batch 4
    new line"""
print(s)

batch 4
batch 4
batch 4      new line
batch 4     new line
batch 4
batch 4
    new line

In [ ]:
s="hello world"

print(f's[0]={s[0]},s[-11]={s[-11]}')
print(f's[3]={s[3]},s[-8]={s[-8]}')
print(f's[5]={s[5]},s[-6]={s[-6]}')
print(f's[10]={s[10]},s[-1]={s[-1]}')

s[0]=h,s[-11]=h
s[3]=l,s[-8]=l
s[5]= ,s[-6]=
s[10]=d,s[-1]=d

In [ ]:
s="hello world"
print(s)
#s[0]='c' #error

print(s)

#immutable(not changable)

hello world
hello world

In [ ]:
s="hello world"
print(s)

for i in range(len(s)):
    print(s[i],end=' ')

print()

for i in s:
    print(i,end=' ')

hello world
h e l l o   w o r l d
h e l l o   w o r l d

In [ ]:
#slicing

s='AMBANI IS NOT NAME ITS A BRAND'
print(s[0:])
print(s[4:])
print(s[8:],end="\n\n")

print(s[:5])
print(s[:3])
print(s[:9],end="\n\n")

print(s[::1])
print(s[::2])
print(s[::3 ])

AMBANI IS NOT NAME ITS A BRAND
NI IS NOT NAME ITS A BRAND
S NOT NAME ITS A BRAND

AMBAN
AMB
AMBANI IS

AMBANI IS NOT NAME ITS A BRAND
ABN SNTNM T  RN
AA  TA S A

In [ ]:
s="mango"
print(s[::-1])
print(s[-3::-1]+s[2:])

ognam
namngo

In [ ]:
s=input()
print(s)

import string
import string

In [ ]:
import string
help(string)

Help on module string:

NAME
    string - A collection of string constants.

MODULE REFERENCE
    https://docs.python.org/3.10/library/string.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    Public module variables:

    whitespace -- a string containing all ASCII whitespace
    ascii_lowercase -- a string containing all ASCII lowercase letters
    ascii_uppercase -- a string containing all ASCII uppercase letters
    ascii_letters -- a string containing all ASCII letters
    digits -- a string containing all ASCII decimal digits
    hexdigits -- a string containing all ASCII hexadecimal digits
    octdigits -- a string containing all ASCII octal digits
    punctuation -- a string containing all ASCII punctuation characters
    printable -- a string containing all ASCII characters considered printable

CLASSES
    builtins.object
        Formatter
        Template

    class Formatter(builtins.object)
     |  Methods defined here:
     |
     |  check_unused_args(self, used_args, args, kwargs)
     |
     |  convert_field(self, value, conversion)
     |
     |  format(self, format_string, /, *args, **kwargs)
     |
     |  format_field(self, value, format_spec)
     |
     |  get_field(self, field_name, args, kwargs)
     |      # given a field_name, find the object it references.
     |      #  field_name:   the field being looked up, e.g. "0.name"
     |      #                 or "lookup[3]"
     |      #  used_args:    a set of which args have been used
     |      #  args, kwargs: as passed in to vformat
     |
     |  get_value(self, key, args, kwargs)
     |
     |  parse(self, format_string)
     |      # returns an iterable that contains tuples of the form:
     |      # (literal_text, field_name, format_spec, conversion)
     |      # literal_text can be zero length
     |      # field_name can be None, in which case there's no
     |      #  object to format and output
     |      # if field_name is not None, it is looked up, formatted
     |      #  with format_spec and conversion and then used
     |
     |  vformat(self, format_string, args, kwargs)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class Template(builtins.object)
     |  Template(template)
     |
     |  A string class for supporting $-substitutions.
     |
     |  Methods defined here:
     |
     |  __init__(self, template)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  safe_substitute(self, mapping={}, /, **kws)
     |
     |  substitute(self, mapping={}, /, **kws)
     |
     |  ----------------------------------------------------------------------
     |  Class methods defined here:
     |
     |  __init_subclass__() from builtins.type
     |      This method is called when a class is subclassed.
     |
     |      The default implementation does nothing. It may be
     |      overridden to extend subclasses.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  braceidpattern = None
     |
     |  delimiter = '$'
     |
     |  flags = re.IGNORECASE
     |
     |  idpattern = '(?a:[_a-z][_a-z0-9]*)'
     |
     |  pattern = re.compile('\n            \\$(?:\n              ...identifie...

FUNCTIONS
    capwords(s, sep=None)
        capwords(s [,sep]) -> string

        Split the argument into words using split, capitalize each
        word using capitalize, and join the capitalized words using
        join.  If the optional second argument sep is absent or None,
        runs of whitespace characters are replaced by a single space
        and leading and trailing whitespace are removed, otherwise
        sep is used to split and join the words.

DATA
    __all__ = ['ascii_letters', 'ascii_lowercase', 'ascii_uppercase', 'cap...
    ascii_letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
    ascii_lowercase = 'abcdefghijklmnopqrstuvwxyz'
    ascii_uppercase = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    digits = '0123456789'
    hexdigits = '0123456789abcdefABCDEF'
    octdigits = '01234567'
    printable = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTU...
    punctuation = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
    whitespace = ' \t\n\r\x0b\x0c'

FILE
    /usr/lib/python3.10/string.py

#**String function**

In [ ]:
s='all the best'
print(s.capitalize())
print(s.title)
s='aLL ThE bEsT'
print(s.casefold())

print(s.upper())
print(s.lower())
print(s.swapcase())

All the best
<built-in method title of str object at 0x787df4053070>
all the best
ALL THE BEST
all the best
All tHe BeSt

In [ ]:
a=10;b=20;c=30
print(a,b,c)
print("a=",a,",b=",b,",c=",c)
print("a= %d, c= %d, d=%d" % (a,b,c))

10 20 30
a= 10 ,b= 20 ,c= 30
a= 10, c= 20, d=30

In [ ]:
a=10;b=20;c=30
print("a={}, b={}, a={}".format(a,b,a))

a=10, b=20, a=10

In [ ]:
a=10;b=20;c=30

print("a={0}, b={1}, a={0}".format(a,b))

a=10, b=20, a=10

In [ ]:
firstIdInt=10;secondIdInt=20
print('b={b},a={a}'.format(a=firstIdInt,b=secondIdInt))

b=20,a=10

In [ ]:
a=10;b=20
print(f'a={a}')

a=10

In [ ]:
a=10
print("{}".format(a))
print("{:%}".format(a))

10
1000.000000%

In [ ]:
a=1234567

print("{:3.2%}".format(a))
print("{:.3f}".format(a))
print("{:.2f}".format(a))
print("{:.7f}".format(a))

123456700.00%
1234567.000
1234567.00
1234567.0000000

In [ ]:
a=11234

print("{:3.2%}".format(a))
print("{:.3f}".format(a))
print("{:.2f}".format(a))
print("{:.7f}".format(a))

1123400.00%
11234.000
11234.00
11234.0000000

In [ ]:
a="vegetables"
print(a.endswith('s'))
print(a.endswith('tabels'))
print(a.endswith('veg'))
print(a.endswith('veg'))
a.replace('e','i')
a.replace('e','abc')

True
False
False
False

'vabcgabctablabcs'

In [ ]:
a='arun all the best tarun'
print(a.partition('t'))
print(a.index('l'))
print(a.rindex('t'))
print(a.count('t'))
print(a.find('arun'))

print(a.rfind('arun'))

('arun all ', 't', 'he best tarun')
6
18
3
0
19

In [ ]:
a='123'
print(a.isdigit())
a='123a'
print(a.isalnum())
a='ads'
print(a.islower())
print(a.upper())
a='12345'
print(a.isnumeric())
a='12.567'
print(a.isnumeric())
print(a.isdecimal())
a='batch4'
print(a.isprintable())

True
True
True
ADS
True
False
False
True

In [ ]:
   # All the best== print in the column

a='All the best'

print(a[0:3].upper())
print(a[4:7].upper())
print(a[8:].upper())


a=input().split()

for i in a:
    print(i.upper())

ALL
THE
BEST
All the best
ALL
THE
BEST

In [ ]:
a='Hello My Name Is PETER'
print(a.swapcase())

hELLO mY nAME iS peter

In [30]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [ ]:
file = open ('/drive/My Drive/d4/data.txt','w')

In [ ]:
file.write('hello welcome to python class\n')
file.write('hello welcome to my world\n')
file.write('today we are dealing with\n')
file.write('file handling concept\n')
file.write('====================\n')
file.close()

In [ ]:
file = open ('/drive/My Drive/d4/data.txt','a')

In [ ]:
file.write('hello welcome to ayodhya\n')
file.write('hello welcome to my village\n')
file.write('today we are dealing with\n')
file.write('file handling concept\n')
file.write('====================\n')
file.close()

In [ ]:
file = open ('/drive/My Drive/d4/data.txt','a')

In [ ]:
file.write('hello welcome to ayodhya\n')
file.write('hello welcome to my village\n')
file.write('today is my test\n')
file.write('file handling concept\n')
file.write('====================\n')
file.close()

In [ ]:
file = open ('/drive/My Drive/d4/data.txt','r')
res = file.read()
print(res)
file.close()

hello welcome to ayodhya
hello welcome to my village
today we are dealing with
file handling concept
====================
hello welcome to ayodhya
hello welcome to my village
today we are dealing with
file handling concept
====================
hello welcome to ayodhya
hello welcome to my village
today is my test
file handling concept
====================
hello welcome to ayodhya
hello welcome to my village
today is my test
file handling concept
====================

In [ ]:
file = open ('/drive/My Drive/d4/data.txt','r')
res = file.read(5)
print(res)
file.close()

hello

In [ ]:
file = open ('/drive/My Drive/d4/data.txt','r')
res = file.read(25)
print(res)
position=file.tell()
print(position)
file.close()

hello welcome to ayodhya

25

In [ ]:
file = open ('/drive/My Drive/d4/data.txt','r')
res=file.read(5)
print(res)
position=file.tell()
print(position)
res=file.read(10)
print(res)
position=file.tell()
print(position)
file.close()

hello
5
 welcome t
15

In [ ]:
#read line by line

file = open ('/drive/My Drive/d4/data.txt','r')
res = file.readline()
print(res)
res= file.readline()
print(res)
res = file.readline()
print(res)
file.close()

hello welcome to ayodhya

hello welcome to my village

today we are dealing with

In [ ]:
file = open ('/drive/My Drive/d4/data.txt','r')
res = file.readlines()
print(res)
file.close()

['hello welcome to ayodhya\n', 'hello welcome to my village\n', 'today we are dealing with\n', 'file handling concept\n', '====================\n', 'hello welcome to ayodhya\n', 'hello welcome to my village\n', 'today we are dealing with\n', 'file handling concept\n', '====================\n', 'hello welcome to ayodhya\n', 'hello welcome to my village\n', 'today is my test\n', 'file handling concept\n', '====================\n', 'hello welcome to ayodhya\n', 'hello welcome to my village\n', 'today is my test\n', 'file handling concept\n', '====================\n']

In [ ]:
file = open ('/drive/My Drive/d4/data.txt','r')
res = file.readlines()
for i in res:
    print(f'line->{i}')

file.close()

line->hello welcome to ayodhya

line->hello welcome to my village

line->today we are dealing with

line->file handling concept

line->====================

line->hello welcome to ayodhya

line->hello welcome to my village

line->today we are dealing with

line->file handling concept

line->====================

line->hello welcome to ayodhya

line->hello welcome to my village

line->today is my test

line->file handling concept

line->====================

line->hello welcome to ayodhya

line->hello welcome to my village

line->today is my test

line->file handling concept

line->====================

In [ ]:
#file read by character

file = open ('/drive/My Drive/d4/data.txt','r')
res = file.read()
for i in res:
    print(i,end=" ")
file.close()

h e l l o   w e l c o m e   t o   a y o d h y a
 h e l l o   w e l c o m e   t o   m y   v i l l a g e
 t o d a y   w e   a r e   d e a l i n g   w i t h
 f i l e   h a n d l i n g   c o n c e p t
 = = = = = = = = = = = = = = = = = = = =
 h e l l o   w e l c o m e   t o   a y o d h y a
 h e l l o   w e l c o m e   t o   m y   v i l l a g e
 t o d a y   w e   a r e   d e a l i n g   w i t h
 f i l e   h a n d l i n g   c o n c e p t
 = = = = = = = = = = = = = = = = = = = =
 h e l l o   w e l c o m e   t o   a y o d h y a
 h e l l o   w e l c o m e   t o   m y   v i l l a g e
 t o d a y   i s   m y   t e s t
 f i l e   h a n d l i n g   c o n c e p t
 = = = = = = = = = = = = = = = = = = = =
 h e l l o   w e l c o m e   t o   a y o d h y a
 h e l l o   w e l c o m e   t o   m y   v i l l a g e
 t o d a y   i s   m y   t e s t
 f i l e   h a n d l i n g   c o n c e p t
 = = = = = = = = = = = = = = = = = = = =

In [ ]:
file = open ('/drive/My Drive/d4/data.txt','r+')
print(file.seek(4))
file.write('NIET')
file.close()

4

In [ ]:
file = open ('/drive/My Drive/d4/data.txt','r+')
print(file.read())
print(res)
file.close()

hellNIETlcome toNIETdhya
hello welcome to my village
today we are dealing with
file handling concept
====================
hello welcome to ayodhya
hello welcome to my village
today we are dealing with
file handling concept
====================
hello welcome to ayodhya
hello welcome to my village
today is my test
file handling concept
====================
hello welcome to ayodhya
hello welcome to my village
today is my test
file handling concept
====================
NIET
hello welcome to ayodhya
hello welcome to my village
today we are dealing with
file handling concept
====================
hello welcome to ayodhya
hello welcome to my village
today we are dealing with
file handling concept
====================
hello welcome to ayodhya
hello welcome to my village
today is my test
file handling concept
====================
hello welcome to ayodhya
hello welcome to my village
today is my test
file handling concept
====================

In [ ]:
#home work
#write a program to count  the digit symbol and digit if the file

In [ ]:
import string
file = open ('/drive/My Drive/d4/data.txt','r+')
res= file.read()
v,c,d,s=0,0,0,0
for i in res:
    if i in 'aeiou':
        v+=1
    elif i in string.ascii_letters:
        c+=1
    elif i in string.digits:
        d+=1
    else:
        s+=1

print(f'v={v},c={c},d={d},s={s}')

v=118,c=208,d=0,s=148

#**Error**

In [ ]:
#syntex error
#typing error

In [31]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#**Excepation handling**

In [ ]:
a=10/5
print(a)

2.0

# zero division error

In [ ]:

a=10/0

ZeroDivisionError: ignored

#value error

In [ ]:

a=int(input())
print(a)

12%3

ValueError: ignored

#index error

In [ ]:

l=[1,2,3]
print(l(int(input())))

a b c

ValueError: ignored

# **Error Handling**

In [ ]:
try:
     a=10/0      #int(input())
     print(a)    #int(input())
     c=a/b
     print(c)
except:
    print("user defined error message")

print("hello world")
print("bye bye")

user defined error message
hello world
bye bye

In [ ]:


try:
     int(input())
     int(input())
     c=a/b
     print(c)
except:
    print("user defined error message")

print("hello world")
print("bye bye")

10 2
user defined error message
hello world
bye bye

In [ ]:
#print(var)   name error

In [32]:
try:
    print(var)
except NameError:
    print("id does not exists")

print("outside the try-except")

id does not exists
outside the try-except

In [ ]:
try:
    l=[1,2,3,4]
    a=int(input("enter index value"))
    print(l[a])
    b=int(input("enter divisor"))
    print(l[a]/b)
except NameError:
    print("wrong id")
except ValueError:
    print("wrong input")
except ZeroDivisionError:
    print("a number can not with zero")
except IndexError:
    print("index value is not within the range ")
print("out side of the try and except")

enter index value2
3
enter divisor3
1.0
out side of the try and except

#runtime error

In [33]:

try:
    l=[1,2,3,4]
    a=int(input("enter index value"))
    print(l[a])
    div=int(input("enter divisor"))
    print(l[a]/div)
except:
    print("runtime error")

else:
    print("executed sucressfully")

enter index value52
runtime error

#**Binary**

In [ ]:
try:
    a,b=map(int,input().split())
    print(a/b)
except:
    print("runtime error")
finally:
    print("finally will execute all the time")

12
runtime error
finally will execute all the time

In [ ]:
try:
    a,b=map(int,input().split())
    print(a/b)
except:
    print("runtime error")
else:
    print("executed sucessfully")
finally:
    print("finally will execute all the time")

12 4
3.0
executed sucessfully
finally will execute all the time

In [35]:
n= int(input("enter a natural number : "))
if n>0:
    print("natural number")
else:
    raise ValuError(F'{n} is not natural')

enter a natural number : -12

NameError: name 'ValuError' is not defined

In [ ]:
n= int(input("enter a natural number : "))
if n>0:
    print("natural number")
else:
    raise Exception(F'{n} is not natural')

enter a natural number : 23
natural number

In [ ]:
a=("the end\n")
print(a*10)

the end
the end
the end
the end
the end
the end
the end
the end
the end
the end